@use "../general" as *;

$homeCardsContainerRowGap: 8rem;
$homeCardsContainerBackgroundImageUrl: "https://res.cloudinary.com/birthdayreminder/image/upload/v1709221737/VitalPrep/wood_wall_best_aqiakh.jpg";
$homeCardsContainerPadding: 8rem 0rem;
