@use "../functions" as *;
@use "../variables" as *;

@mixin flexCenter($direction) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
}

@mixin pageLayout() {
  width: 100%;
  @include flexCenter(column);
}
