@use "../functions" as *;
@use "../variables" as *;

@mixin paragraphLaptop() {
  font-family: "EB Garamond", serif;
  font-size: getFontSize("p-laptop");
}

@mixin h1Laptop() {
  font-family: "Cabin", sans-serif;
  font-size: getFontSize("h1-laptop");
}
@mixin h2Laptop() {
  font-family: "Cabin", sans-serif;
  font-size: getFontSize("h2-laptop");
}

@mixin h3Laptop() {
  font-family: "Cabin", sans-serif;
  font-size: getFontSize("h3-laptop");
}

@mixin h4Laptop() {
  font-family: "Cabin", sans-serif;
  font-size: getFontSize("h4-laptop");
}

@mixin h5Laptop() {
  font-family: "Cabin", sans-serif;
  font-size: getFontSize("h5-laptop");
}

@mixin h6Laptop() {
  font-family: "Cabin", sans-serif;
  font-size: getFontSize("h6-laptop");
}
