@use "../functions" as *;
@use "../variables" as *;

@mixin paragraph($device, $color) {
  font-family: "Cabin", sans-serif;
  font-size: getFontSize("p-#{$device}");

  @if $color == "black" {
    color: getColor("black-100-1");
  } @else if $color == "white" {
    color: getColor("tan-color-extra-light");
  }
}

@mixin heading($headingType, $device, $color) {
  font-family: "Cabin", sans-serif;
  font-size: getFontSize("#{$headingType}-#{$device}");

  @if $color == "black" {
    color: getColor("black-100-1");
  } @else if $color == "white" {
    color: getColor("tan-color-extra-light");
  }
}

@mixin handlePossibleLongWord($maxNumberOfLines) {
  display: -webkit-box;
  -webkit-line-clamp: $maxNumberOfLines;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  overflow-wrap: break-word;
}
