@use "../abstracts" as *;

.aboutContainer {
  @include pageLayout();
  background-color: getColor("primary-3");
}

.aboutContent {
  @include flexCenter(column);
  width: 100%;
}

.aboutContentSection {
  @include flexCenter(column);
  width: 100%;
  gap: 2rem;
  padding: 8rem;
  padding-bottom: 13.5rem;

  @media screen and (max-width: 1200px) {
    padding: 8rem 4rem;
  }

  @media screen and (max-width: 600px) {
    padding: 6rem 1rem;
  }

  &:nth-of-type(1) {
    background-color: getColor("secondary-color-3.1");
  }

  &:nth-of-type(2) {
    background-color: getColor("secondary-color-3.3");
  }

  &:nth-of-type(3) {
    background-color: getColor("primary-1");

    h1,
    p {
      color: getColor("tan-color-extra-light");
    }
  }

  &:nth-of-type(4) {
    background-color: getColor("secondary-color-3.3");
  }

  &:nth-of-type(5) {
    background-color: getColor("secondary-color-3.1");
  }

  h1 {
    @include heading("h1", "laptop", "black");
    text-align: center;

    @media screen and (max-width: 1200px) {
      @include heading("h1", "tablet", "black");
    }
    @media screen and (max-width: 800px) {
      @include heading("h1", "phone", "black");
    }
    @media screen and (max-width: 500px) {
      @include heading("h2", "phone", "black");
    }
    @media screen and (max-width: 400px) {
      @include heading("h3", "phone", "black");
    }
  }

  h4 {
    @include heading("h4", "laptop", "black");
    align-self: flex-start;
    text-align: left;
    margin-top: 3rem;

    @media screen and (max-width: 1200px) {
      @include heading("h4", "tablet", "black");
    }
    @media screen and (max-width: 800px) {
      @include heading("h4", "phone", "black");
      align-self: center;
      text-align: center;
    }
  }

  p {
    @include heading("h5", "laptop", "black");
    width: 80%;

    @media screen and (max-width: 1200px) {
      @include heading("h5", "tablet", "black");
    }
    @media screen and (max-width: 800px) {
      @include heading("h5", "phone", "black");
      text-align: center;
      width: 90%;
    }
  }

  a {
    text-decoration: none;
    color: getColor("secondary-color-light-2.4");

    &:hover {
      font-style: italic;
      text-decoration: underline;
    }
  }

  button {
    margin-top: 3rem;
  }
}

.aboutContentSectionLogos {
  @include flexCenter(row);
  justify-content: flex-start;
  margin-top: 2rem;
  width: 80%;
  flex-wrap: wrap;
  list-style: none;
  column-gap: 6rem;
  row-gap: 4rem;

  @media screen and (max-width: 800px) {
    justify-content: center !important;
    width: 100%;
    column-gap: 3rem;
    row-gap: 2rem;
  }

  li {
    @include flexCenter(row);
    transition: $crispyTransformTransition;

    img {
      width: 7.5rem;
      height: 7.5rem;

      @media screen and (max-width: 800px) {
        width: 5rem;
        height: 5rem;
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }
}
