@use "../abstracts" as *;

.contactContainer {
  @include pageLayout();
  background-color: getColor("secondary-color-3.3");
}

.contactContent {
  @include flexCenter(row);
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
  gap: 8rem;
  padding: 8rem;
  padding-bottom: 16rem;
}

.contactEmailContainer,
.contactInfoContainer {
  @include flexCenter(column);
  width: 100%;
  gap: 2rem;
  padding: 4rem;
  border-radius: 25px;
  background-color: getColorWithOpacity("secondary-color-3.1", 0.5);

  ul {
    margin-top: 1rem;
    max-width: 100%;
    width: 100%;
    gap: 0;
    justify-content: space-evenly;
  }

  h4 {
    @include heading("h4", "laptop", "black");
  }

  button {
    margin-top: 1rem;
  }

  input,
  textarea {
    min-width: 30rem;
  }

  textarea {
    min-height: 20rem;
  }
}

.contactEmailForm,
.contactDetails {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 2rem;
  width: 100%;

  p {
    @include heading("h6", "laptop", "black");
  }
}
