@use "../abstracts" as *;

.createToolContainer {
  @include pageLayout();
  position: relative;
  background-color: getColor("secondary-color-3.3");
}

.createToolContent {
  @include flexCenter(column);
  width: 100%;
  padding: 8rem;
}

.createInterfaceWrapper {
  @include flexCenter(row);
  align-items: flex-start;
  width: 100%;
  gap: 8rem;
}

.createInterfaceComponentsContainer {
  @include flexCenter(column);
  width: 100%;
  gap: 8rem;
}

.createInterfaceMultipleComponentsContainer {
  @include flexCenter(column);
  width: 100%;
  gap: 2rem;
  background-color: getColorWithOpacity("secondary-color-3.1", 0.5);
  padding: 2rem;
  border-radius: 25px;

  h4 {
    @include heading("h4", "laptop", "black");
  }
}

.createInterfaceMultipleComponentsSelectControlsListItem {
  @include flexCenter(column);
  width: 100%;
  gap: 3rem;
}

.createInterfaceMultipleComponentsSelectControls {
  @include flexCenter(column);
  width: 100%;
  gap: 3rem;
  list-style: none;

  li {
    @include flexCenter(column);
    width: 100%;
    align-items: flex-start;
    gap: 3rem;

    div {
      align-items: flex-start;
    }
  }
}

.createInterfaceFormContainer {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 2rem;
  padding: 4rem;
  border-radius: 25px;
  background-color: getColorWithOpacity("secondary-color-3.1", 0.5);

  h4 {
    @include heading("h4", "laptop", "black");
  }
}

.createToolInterface {
  @include flexCenter(column);
  width: 100%;
  position: relative;
}

.createInterface {
  @include flexCenter(column);
  width: 100%;
  gap: 8rem;
}

.createInterfaceForm {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 2rem;

  button {
    margin-top: 2rem;
  }
}

.createInterfaceDayTemplateRecipes {
  @include flexCenter(column);
  list-style: none;
  width: 100%;
  gap: 1rem;

  li {
    @include flexCenter(column);
    width: 100%;
  }
}

.createInterfaceMealPrepPlanTimings {
  @include flexCenter(column);
  list-style: none;
  width: 100%;
  gap: 3rem;
}

.createInterfaceMealPrepPlanTimingContainer {
  @include flexCenter(column);
  align-items: flex-start;
  padding: 2rem;
  width: 100%;
  gap: 1rem;
}
