@use "../abstracts" as *;

.createToolContainer {
  @include pageLayout();
}

.createToolContent {
  @include flexCenter(column);
  width: 100%;
  padding-top: 128px;
  padding-bottom: 64px;
  gap: 64px;
  background-image: url($authFormPageTemplateFormBackgroundUrl);
}

.createToolInterface {
  @include flexCenter(column);
  width: 100%;
  position: relative;
}

.createInterface {
  @include flexCenter(column);
  width: 100%;
  gap: 104px;
  padding: 128px 0px;

  h2 {
    @include h2Laptop();
    letter-spacing: 4.5px;
    color: getColor("black-100-1");
  }
}

.createInterfaceForm {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 48px;
  padding: 0px 400px;

  button {
    margin-top: 64px;
    align-self: center;
  }
}

.createInterfaceRecipeTutorial {
  @include flexCenter(column);
  width: 100%;
  align-items: flex-start;
  gap: 16px;

  padding: 1rem;
  border: 1.5px solid getColor("black-100-1");

  h3 {
    font-size: 28px;
  }
}

.createInterfaceRecipeTutorialCheckboxes {
  @include flexCenter(column);
  width: 100%;
  padding-left: 64px;
  gap: 32px;
}

.createInterfaceDayTemplateRecipesContainer {
  @include flexCenter(column);
  width: 100%;
  align-items: flex-start;
  gap: 16px;

  padding: 1rem;
  border: 1.5px solid getColor("black-100-1");

  h3 {
    font-size: 28px;
  }
}

.createInterfaceDayTemplateRecipes {
  @include flexCenter(column);
  list-style: none;
  width: 100%;
  gap: 16px;

  li {
    @include flexCenter(row);
    width: 100%;
  }
}
