@use "../abstracts" as *;

.notFoundContainer {
  @include pageLayout();
  min-height: 100vh;
  background-image: url("https://res.cloudinary.com/birthdayreminder/image/upload/v1715164587/VitalPrep/desktop-wallpaper-everything-you-need-for-your-first-kitchen-1920x1077-for-your-mobile-tablet-utensils_tzli9m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.notFoundContent {
  @include flexCenter(column);
  background-color: getColorWithOpacity("secondary-color-3.3", 0.8);
  border-radius: 25px;
  padding: 4rem;

  h1 {
    @include heading("h1", "laptop", "black");
  }
  h4 {
    @include heading("h4", "laptop", "black");
  }
  button {
    margin-top: 4rem;
  }
}
