@use "../abstracts" as *;

.faqContainer {
  @include pageLayout();
  background-color: getColor("primary-3");
}

.faqContent {
  @include flexCenter(column);
  width: 100%;
}

.faqContentSection {
  @include flexCenter(column);
  width: 100%;
  gap: 4rem;
  padding: 8rem;
  padding-bottom: 13.5rem;

  @media screen and (max-width: 1350px) {
    padding: 8rem 4rem;
  }

  @media screen and (max-width: 1200px) {
    padding: 8rem 2rem;
  }

  @media screen and (max-width: 600px) {
    gap: 2rem;
  }

  @media screen and (max-width: 400px) {
    padding: 8rem 0.75rem;
  }

  &:nth-of-type(1) {
    background-color: getColor("secondary-color-3.1");
  }

  &:nth-of-type(2) {
    background-color: getColor("secondary-color-3.3");
  }

  &:nth-of-type(3) {
    background-color: getColor("primary-1");

    h1 {
      color: getColor("tan-color-extra-light");
    }
  }

  &:nth-of-type(4) {
    background-color: getColor("secondary-color-3.3");
  }

  h1 {
    @include heading("h1", "laptop", "black");
    text-align: center;

    @media screen and (max-width: 1200px) {
      @include heading("h1", "tablet", "black");
    }
    @media screen and (max-width: 800px) {
      @include heading("h1", "phone", "black");
    }
    @media screen and (max-width: 500px) {
      @include heading("h2", "phone", "black");
    }
    @media screen and (max-width: 400px) {
      @include heading("h3", "phone", "black");
    }
  }

  span {
    color: red;
  }

  a {
    text-decoration: none;
    color: getColor("secondary-color-light-2.4");

    &:hover {
      font-style: italic;
      text-decoration: underline;
    }
  }

  button {
    margin-top: 3rem;
  }
}

.faqContentSectionParagraph {
  @include heading("h5", "laptop", "black");

  @media screen and (max-width: 1200px) {
    @include heading("h6", "tabket", "black");
  }
  @media screen and (max-width: 600px) {
    @include heading("h6", "phone", "black");
  }
}

.faqContentSectionAccordions {
  @include flexCenter(column);
  align-items: flex-start;
  list-style: none;
  width: 100%;
  gap: 4rem;
  margin-top: 2rem;

  @media screen and (max-width: 600px) {
    gap: 2rem;
  }

  li {
    @include flexCenter(row);
    justify-content: flex-start;
    width: 100%;
  }
}

.faqAccordionContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  height: 100%;
  background-color: getColor("tan-color");
  border: 1.5px solid getColor("black-75-1");
  border-radius: 10px;
}

.faqAccordionHeader {
  @include flexCenter(row);
  justify-content: flex-start;
  width: 100%;
  padding: 1rem 4rem;
  gap: 3.5rem;

  @media screen and (max-width: 1200px) {
    padding: 1rem 2rem;
  }

  @media screen and (max-width: 600px) {
    gap: 1.75rem;
  }

  @media screen and (max-width: 400px) {
    padding: 1rem;
  }

  svg {
    font-size: 2.5rem;

    @media screen and (max-width: 1200px) {
      font-size: 2rem;
    }

    @media screen and (max-width: 600px) {
      font-size: 1.25rem;
    }
  }

  h5 {
    @include heading("h5", "laptop", "black");
    width: 80%;

    @media screen and (max-width: 1200px) {
      @include heading("h6", "tablet", "black");
    }
    @media screen and (max-width: 800px) {
      @include heading("h6", "phone", "black");
    }
  }
}

.faqAccordionContent {
  @include flexCenter(column);
  width: 100%;
  transition: height 0.2s ease-out;
  overflow: hidden;
  padding: 0rem 10rem;

  @media screen and (max-width: 1200px) {
    padding: 0 8rem;
  }

  @media screen and (max-width: 800px) {
    padding: 0 2rem;
  }

  p {
    @include paragraph("laptop", "black");
    width: 100%;

    @media screen and (max-width: 700px) {
      @include paragraph("tablet", "black");
    }
    @media screen and (max-width: 375px) {
      font-size: 0.95rem;
    }
  }
}
