@use "../abstracts" as *;

.gettingStartedContainer {
  @include pageLayout();
  background-color: getColor("primary-3");
}

.gettingStartedContent {
  @include flexCenter(row);
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 3rem;
  padding: 8rem 6rem;

  @media screen and (max-width: 1500px) {
    padding: 8rem 2rem;
  }

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
  }

  @media screen and (max-width: 800px) {
    padding: 8rem 1rem;
  }
}

.gettingStartedContentMapContainer {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 1rem;
  min-width: 20%;

  @media screen and (max-width: 1200px) {
    align-items: center;
    width: 100%;
    padding: 4rem 8rem;
    border-radius: 15px;
    background-color: getColor("secondary-color-3.2");
    gap: 2rem;
  }

  @media screen and (max-width: 800px) {
    padding: 4rem 4rem;
  }
  @media screen and (max-width: 600px) {
    padding: 4rem 2rem;
  }

  h5 {
    @include heading("h6", "laptop", "black");
    width: 100%;

    @media screen and (max-width: 1200px) {
      @include heading("h5", "laptop", "black");
      text-align: center;
    }
  }
}

.gettingStartedContentMapSections {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 1.5rem;

  @media screen and (max-width: 1200px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 3rem;

    > li {
      @include flexCenter(column);
      align-items: flex-start;
      width: 45%;
      max-width: 45%;

      @media screen and (max-width: 600px) {
        width: 95%;
        max-width: 95%;
      }
    }
  }
}

.gettingStartedContentMapSection {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 0.5rem;

  h6 {
    @include heading("h6", "phone", "black");
    width: 100%;
    transition: $crispyTransformTransition;

    &:hover {
      transform: translateX(10%);
      font-style: italic;
    }
  }
}

.gettingStartedContentMapSectionContent {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 0.25rem;
  margin-left: 1.5rem;

  li {
    @include flexCenter(row);
    align-items: flex-start;

    p {
      @include paragraph("laptop", "black");
      @include flexCenter(row);
      align-items: flex-start;
      text-decoration: none;
      transition: $crispyTransformTransition;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

.gettingStartedContentContainer {
  @include flexCenter(column);
  justify-content: flex-start;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  max-height: 50rem;
  overflow-y: scroll;
}

.gettingStartedContentSection {
  @include flexCenter(column);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding: 4rem;
  padding-bottom: 13.5rem;
  gap: 2rem;
  background-color: getColor("secondary-color-3.3");

  @media screen and (max-width: 600px) {
    padding: 4rem 2rem;
  }
  @media screen and (max-width: 400px) {
    padding: 4rem 1rem;
  }

  h4 {
    @include heading("h4", "laptop", "black");
    text-align: center;
    width: 100%;

    @media screen and (max-width: 1200px) {
      @include heading("h4", "tablet", "black");
    }
    @media screen and (max-width: 600px) {
      @include heading("h4", "phone", "black");
    }
  }
}

.gettingStartedContentArticles {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 6rem;
}

.gettingStartedContentArticle {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 1.5rem;

  span {
    color: getColor("error-color");
    font-weight: 550;
  }

  a {
    text-decoration: none;
    color: getColor("secondary-color-light-2.4");

    &:hover {
      text-decoration: underline;
    }
  }

  img {
    height: 30rem;
    width: auto;
    border-radius: 10px;
    border: 1px solid getColor("black-75-1");

    @media screen and (max-width: 1350px) {
      height: 20rem;
    }

    @media screen and (max-width: 800px) {
      height: 15rem;
    }
    @media screen and (max-width: 600px) {
      height: 10rem;
    }
    @media screen and (max-width: 400px) {
      height: 8rem;
    }
  }

  h5 {
    @include heading("h5", "laptop", "black");
    @media screen and (max-width: 1200px) {
      @include heading("h5", "tablet", "black");
    }
    @media screen and (max-width: 600px) {
      @include heading("h5", "phone", "black");
    }
  }

  p {
    @include paragraph("laptop", "black");
  }
}
