@use "../abstracts" as *;

.homeContainer {
  @include pageLayout();
}

.homeCardsContainer {
  @include flexCenter(column);
  row-gap: $homeCardsContainerRowGap;
  background-image: url($homeCardsContainerBackgroundImageUrl);
  padding: $homeCardsContainerPadding;
}
