@use "../abstracts" as *;

.homeContainer {
  @include pageLayout();
}

.homeSectionsContainer {
  @include flexCenter(column);
  width: 100%;
}

.homeSectionContainer {
  @include flexCenter(row);
  width: 100%;
  height: 55rem;
  background-position: right;
  background-color: getColor("primary-3");

  @media screen and (max-width: 1200px) {
    height: 65rem;
  }

  @media screen and (max-width: 650px) {
    height: 55rem;
  }
}

.homeSectionContent {
  @include flexCenter(column);
  align-items: flex-start;
  position: relative;
  width: 62.5%;
  height: 100%;

  @media screen and (max-width: 1200px) {
    width: 100%;
    align-items: center;
  }

  img {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.homeSectionContentWrapper {
  @include flexCenter(column);
  align-items: flex-start;
  height: 100%;
  width: 67.5%;
  gap: 7rem;
  z-index: 2;

  @media screen and (max-width: 1200px) {
    width: 100%;
    height: auto;
    align-items: center;
    background-color: getColorWithOpacity("secondary-color-3.3", 0.8);
    padding: 4rem;
  }

  @media screen and (max-width: 650px) {
    gap: 3rem;
    padding: 4rem 2rem;
  }

  @media screen and (max-width: 350px) {
    padding: 4rem 1rem;
  }
}

.homeSectionContentDetails {
  @include flexCenter(column);
  width: 100%;
  align-items: flex-start;
  gap: 5rem;

  @media screen and (max-width: 1200px) {
    align-items: center;
  }

  @media screen and (max-width: 650px) {
    gap: 2rem;
  }

  p {
    @include heading("h6", "laptop", "black");

    @media screen and (max-width: 1200px) {
      @include heading("h6", "tablet", "black");
      text-align: center;
      max-width: 65%;
    }

    @media screen and (max-width: 650px) {
      @include heading("h6", "phone", "black");
      max-width: 80%;
    }
  }
}

.homeSectionMiddleContentDetails {
  @extend .homeSectionContentDetails;
  padding: 4rem;
  gap: 7rem;

  @media screen and (max-width: 650px) {
    gap: 3rem;
    padding: 4rem 1rem;
  }
}

.homeSectionContentHeader {
  @include flexCenter(column);
  width: 100%;
  align-items: flex-start;

  @media screen and (max-width: 1200px) {
    align-items: center;
  }

  h1 {
    @include heading("h1", "laptop", "black");
    width: 100%;

    @media screen and (max-width: 1650px) {
      @include heading("h1", "tablet", "black");
    }

    @media screen and (max-width: 1200px) {
      text-align: center;
    }
    @media screen and (max-width: 650px) {
      @include heading("h1", "phone", "black");
    }
    @media screen and (max-width: 450px) {
      @include heading("h2", "phone", "black");
    }
  }

  h4 {
    @include heading("h5", "laptop", "black");
    width: 100%;

    @media screen and (max-width: 1200px) {
      @include heading("h5", "tablet", "black");
      text-align: center;
    }
    @media screen and (max-width: 650px) {
      @include heading("h5", "phone", "black");
    }
    @media screen and (max-width: 450px) {
      @include heading("h6", "phone", "black");
    }
  }
}

.homeSectionContentItems {
  @include flexCenter(row);
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;

  @media screen and (max-width: 1000px) {
    gap: 4rem;
  }

  li {
    @include flexCenter(column);
    max-width: 30%;
    width: 30%;
    gap: 2rem;

    @media screen and (max-width: 1200px) {
      max-width: 45%;
      width: 45%;
    }

    @media screen and (max-width: 1000px) {
      width: 100%;
      max-width: 100%;
    }

    @media screen and (max-width: 650px) {
      gap: 1rem;
    }
  }
}

.homeSectionContentItem {
  @include flexCenter(column);
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;

  img {
    width: 8rem;
    height: 8rem;
    position: relative;
  }
}

.homeSectionContentItemHeader {
  @include flexCenter(column);
  width: 100%;
  gap: 1rem;

  h4 {
    @include heading("h4", "laptop", "black");
    text-align: center;

    @media screen and (max-width: 1200px) {
      @include heading("h4", "tablet", "black");
    }
    @media screen and (max-width: 650px) {
      @include heading("h4", "phone", "black");
    }
    @media screen and (max-width: 450px) {
      @include heading("h5", "phone", "black");
    }
  }

  p {
    @include paragraph("laptop", "black");
    max-width: 90%;
    text-align: center;

    @media screen and (max-width: 1200px) {
      @include paragraph("tablet", "black");
      max-width: 60%;
    }
    @media screen and (max-width: 650px) {
      @include paragraph("phone", "black");
      max-width: 80%;
    }
  }
}

.homeSectionContentDescriptions {
  @include flexCenter(column);
  gap: 2.5rem;

  p {
    @include heading("h6", "laptop", "black");

    @media screen and (max-width: 1200px) {
      text-align: center;
      max-width: 65%;
    }
    @media screen and (max-width: 650px) {
      @include heading("h6", "phone", "black");
      max-width: 80%;
    }
    @media screen and (max-width: 450px) {
      @include paragraph("phone", "black");
      max-width: 80%;
    }
  }
}
