@use "../abstracts" as *;

.profileContainer {
  @include pageLayout();
  background-color: getColor("secondary-color-3.3");
}

.profileContent {
  @include flexCenter(column);
  width: 100%;
  gap: 8rem;
  padding: 8rem;
}

.profileInfoContainer {
  @include flexCenter(column);
  gap: 1rem;
  padding: 4rem;
  border-radius: 25px;
  background-color: getColorWithOpacity("secondary-color-3.1", 0.5);

  img {
    margin-bottom: 2rem;
  }

  h4 {
    @include heading("h4", "laptop", "black");
    font-weight: 550;
  }

  h6 {
    @include heading("h6", "laptop", "black");
  }
}

.profileInfoEmail {
  @include flexCenter(row);
  justify-content: center;
  width: 100%;
  gap: 0.5rem;

  svg {
    font-size: 2rem;
    cursor: pointer;
  }
}

.profileDetails {
  @include flexCenter(row);
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}
