@use "../abstracts" as *;

.settingsContainer {
  @include pageLayout();
  background-color: getColor("secondary-color-3.3");
}

.settingsContent {
  @include flexCenter(row);
  align-items: flex-start;
  width: 100%;
  padding: 8rem;
  gap: 8rem;
}

.accountSettingsContainer {
  @include flexCenter(column);
  position: relative;
  width: 100%;
  background-color: getColorWithOpacity("secondary-color-3.1", 0.5);
  gap: 3rem;
  padding: 4rem;
  border-radius: 25px;

  h4 {
    @include heading("h4", "laptop", "black");
    text-align: center;
  }
}

.accountSettingsForm {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 2rem;

  button {
    margin-top: 1rem;
    align-self: center;
  }
}
