@use "../../general" as *;

$authFormPageTemplateFormWidth: 480px;
$authFormPageTemplateFormBackgroundUrl: "https://res.cloudinary.com/birthdayreminder/image/upload/v1709221737/VitalPrep/wood_wall_best_aqiakh.jpg";
$authFormPageTemplateFormContentPadding: 80px 0 56px 0;
$authFormPageTemplateFormContentGap: 48px;
