@use "../../general" as *;

$pageTitleHeight: 54rem;
$pageTitleBackgroundImageUrl: "https://res.cloudinary.com/birthdayreminder/image/upload/v1709133342/VitalPrep/wallpaperflare_1_qmx5uv.png";
$titleOutlinePozitiveCoeficient: 1.75px;
$titleOutlineNegativeCoeficient: -1.75px;
