* {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 14px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffcd00;
  border-radius: 10px;
  border: 1.5px solid #120a06;
}

::-webkit-scrollbar-track {
  background-color: #432517;
  border-radius: 10px;
}

button {
  cursor: pointer;
}

button:focus-visible {
  outline: 2.5px solid #ff3300;
}

input:focus-visible {
  outline: 2.5px solid #ff3300;
}

textarea:focus-visible {
  outline: 2.5px solid #ff3300;
}

select:focus-visible {
  outline: 2.5px solid #ff3300;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  &::-webkit-scrollbar-track {
    border-radius: 0px;
  }
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;

  width: 100%;
  min-height: 100vh;
}

.hiddenLTR {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);

  transition: all 0.75s;
}

.showLTR {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
  transition: all 0.75s;

  &:nth-of-type(1) {
    transition-delay: 100ms;
  }

  &:nth-of-type(2) {
    transition-delay: 200ms;
  }

  &:nth-of-type(3) {
    transition-delay: 300ms;
  }

  &:nth-of-type(4) {
    transition-delay: 400ms;
  }
}

.hiddenRTL {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);

  transition: all 0.75s;
}

.showRTL {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0%);
  transition: all 0.75s;

  &:nth-of-type(1) {
    transition-delay: 100ms;
  }

  &:nth-of-type(2) {
    transition-delay: 200ms;
  }

  &:nth-of-type(3) {
    transition-delay: 300ms;
  }

  &:nth-of-type(4) {
    transition-delay: 400ms;
  }
}

.hiddenBTT {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);

  transition: all 0.75s;
}

.showBTT {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0%);
  transition: all 0.75s;

  &:nth-of-type(1) {
    transition-delay: 100ms;
  }

  &:nth-of-type(2) {
    transition-delay: 200ms;
  }

  &:nth-of-type(3) {
    transition-delay: 300ms;
  }

  &:nth-of-type(4) {
    transition-delay: 400ms;
  }
}
