* {
  box-sizing: border-box;
  font-family: "Cabin", sans-serif;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 14px;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #ffcd00;
  border-radius: 10px;
  border: 1.5px solid #120a06;
}

::-webkit-scrollbar-track {
  background-color: #432517;
  border-radius: 10px;
}

button {
  cursor: pointer;
}

button:focus-visible {
  outline: 2.5px solid #ff3300;
}

input:focus-visible {
  outline: 2.5px solid #ff3300;
}

textarea:focus-visible {
  outline: 2.5px solid #ff3300;
}

select:focus-visible {
  outline: 2.5px solid #ff3300;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  &::-webkit-scrollbar-track {
    border-radius: 0px;
  }
}

.app-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  position: relative;

  width: 100%;
  min-height: 100vh;
}
