@use "../../abstracts" as *;

.authContainer {
  @include flexCenter(row);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.formContainer {
  @include flexCenter(column);
  position: absolute;
  top: 0;
  right: 0;
  justify-content: flex-start;

  background-color: getColorWithOpacity("signup-background-color", 0.7);

  width: 30%;
  min-width: 600px;
  height: 100%;

  padding-bottom: 5rem;
  margin-right: 8rem;
}

// Only used for scrollbar
.formContainerContentWrapper {
  @include flexCenter(column);
  justify-content: flex-start;
  width: 100%;
  min-height: 100%;
  max-height: 50rem;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0px;
    visibility: hidden;
  }
}

.formContainerContent {
  @include flexCenter(column);
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  direction: ltr;
  padding: 0rem 7rem;

  gap: 3rem;

  header {
    @include flexCenter(column);
    width: 100%;
    gap: 8px;

    h3 {
      @include heading("h3", "laptop", "black");
    }

    h6 {
      @include heading("h6", "phone", "black");
    }

    a {
      @include heading("h6", "tablet", "black");
      text-decoration: none;
      color: getColor("secondary-color-light-2.4");

      &:hover {
        font-style: italic;
        text-decoration: underline;
      }
    }
  }
}

.signupLogoContainer {
  @include flexCenter(row);
  width: 100%;
  gap: 1rem;
  padding: 1rem;
  justify-content: flex-start;

  h6 {
    @include heading("h6", "phone", "black");
  }
}
