@use "../../abstracts" as *;

.entityComponent {
  @include flexCenter(row);
  justify-content: flex-start;
  width: 100%;
  height: 5rem;
  background-color: getColor("primary-1");
  border-radius: 20px;

  &:hover {
    transition: $crispyTransformTransition;
    transform: scale(1.01);
  }
}

.entityComponentLinkWrapper {
  @include flexCenter(row);
  width: 100%;
  text-decoration: none;
}

.entityComponentHeader {
  @include flexCenter(row);
  justify-content: flex-start;
  width: auto;
  width: 100%;
  height: 100%;

  @media screen and (max-width: 400px) {
    width: 100%;
    justify-content: center;
  }

  img {
    height: 100%;
    width: auto;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: white;
  }

  h6 {
    @include heading("h6", "phone", "white");
    @include handlePossibleLongWord(2);
    width: 100%;
    padding: 0rem 0.75rem;
    text-align: start;

    @media screen and (max-width: 600px) {
      @include paragraph("tablet", "white");
      padding-right: 0;
      white-space: wrap;
    }
  }
}

.entityComponentDetails {
  @include flexCenter(row);
  justify-content: flex-end;
  gap: 2rem;
  color: getColor("tan-color-extra-light");
  width: 100%;
  height: 100%;
  margin-right: 2rem;

  @media screen and (max-width: 600px) {
    margin-right: 0;
    width: 0;
    height: 0;
  }

  p {
    @include paragraph("tablet", "white");

    @media screen and (max-width: 1200px) {
      @include paragraph("phone", "white");
    }
  }
}

.entityComponentWrapper {
  @include flexCenter(column);
  position: relative;
  width: 100%;
  height: auto;
}
