@use "../../abstracts" as *;

.footerContainer {
  @include flexCenter(column);
  width: 100%;
  padding: 4rem 16rem;
  background-color: getColor("primary-1");
  margin-top: auto;
  gap: 4rem;

  @media screen and (max-width: 1500px) {
    padding: 4rem 8rem;
  }

  @media screen and (max-width: 1200px) {
    padding: 4rem 4rem;
  }
  @media screen and (max-width: 650px) {
    padding: 4rem 2rem;
  }
}

.footerPageLinksList {
  @include flexCenter(row);
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  list-style: none;
  flex-wrap: wrap;
  row-gap: 1.5rem;

  li {
    @include flexCenter(row);
    flex: 1 0 (100% / 4);
    max-width: (100% / 4);
    justify-content: flex-start;

    @media screen and (max-width: 1200px) {
      flex: 1 0 (100% / 2);
      max-width: (100% / 2);
      justify-content: center;
    }

    @media screen and (max-width: 650px) {
      flex: 1 0 (100% / 2);
      max-width: (100% / 2);
    }
  }
}

.footerPageLink {
  @include flexCenter(row);
  justify-content: flex-start;
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;

  p {
    transition:
      $crispyTransformTransition,
      color 0.135s linear;
    width: 100%;
    height: 100%;
    color: getColor("tan-color");
    text-align: start;
    @include paragraph("laptop", "white");

    &:hover {
      transform: translateX(10px);
      color: getColor("secondary-color-light-2.4");
    }

    @media screen and (max-width: 1200px) {
      text-align: center;
    }
  }
}

.footerContact {
  @include flexCenter(row);
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    gap: 1rem;
  }

  p {
    @include paragraph("laptop", "white");

    @media screen and (max-width: 1200px) {
      @include paragraph("phone", "white");
    }

    transition:
      $crispyTransformTransition,
      color 0.135s linear;

    &:hover {
      transform: translateX(5px);
    }
  }

  span {
    @include paragraph("laptop", "white");

    @media screen and (max-width: 1200px) {
      @include paragraph("phone", "white");
      color: getColor("secondary-color-light-2.4");
    }

    margin-left: 2rem;
    color: getColor("secondary-color-light-2.4");
  }
}

.footerBar {
  @include flexCenter(row);
  width: 100%;
  justify-content: space-between;

  @media screen and (max-width: 1200px) {
    flex-direction: column;
    gap: 2rem;
  }
}

.footerCopyright {
  @include flexCenter(column);
  gap: 1rem;

  p {
    color: getColor("tan-color");
    @include paragraph("laptop", "white");

    @media screen and (max-width: 1200px) {
      @include paragraph("phone", "white");
      text-align: center;
    }
  }
}
