@use "../../abstracts" as *;

.navbarContainer {
  @include flexCenter(row);
  justify-content: space-between;
  width: 100%;
  max-height: $maxNavbarHeight;
  padding: $navbarPadding;
  background-color: $navbarBackgroundColor;

  @media screen and (max-width: 650px) {
    padding: 1rem 2rem;
  }
}

.navbarProfileContainer {
  @include flexCenter(row);
  gap: 1rem;

  @media screen and (max-width: 650px) {
    gap: 0.5rem;
  }

  h6 {
    @include heading("h6", "tablet", "white");

    @media screen and (max-width: 650px) {
      @include paragraph("phone", "white");
    }
  }
}

.profileImageContainer {
  @include flexCenter(column);
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  transition: $crispyTransformTransition;

  &:hover {
    transform: scale(1.05);
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 50%;

    &:hover {
      transform: scale(1.05);
    }
  }
}
