@use "../../abstracts" as *;

.authContainer {
  @include flexCenter(column);
  width: 100%;
  padding: 0;
  gap: 2rem;

  p {
    @include paragraph("laptop", "black");
    text-align: center;
    font-weight: 550;
    width: 100%;

    @media screen and (max-width: 650px) {
      @include paragraph("tablet", "black");
    }
  }
}

.authButtons {
  @include flexCenter(column);
  list-style: none;
  width: 100%;
  gap: 1.5rem;
  padding: 0rem 1rem;

  @media screen and (max-width: 650px) {
    padding: 0rem;
  }

  li {
    @include flexCenter(column);
    width: 100%;
    transition: $crispyTransformTransition;
    border-radius: 10px;
    border: 1.5px solid getColor("black-75-1");

    &:hover {
      transform: scale(1.05);
    }

    @media screen and (max-width: 650px) {
      width: 80%;
    }
    @media screen and (max-width: 375px) {
      width: 97.5%;
    }
  }
}

.authButton {
  @include flexCenter(row);
  background-color: getColor("tan-color");
  border-radius: 10px;
  gap: 0.5rem;
  width: 100%;
  padding: 0.25rem 1rem;
  border: none;

  span {
    @include paragraph("laptop", "black");
    font-weight: 550;

    @media screen and (max-width: 650px) {
      @include paragraph("phone", "black");
    }
  }

  svg {
    width: 2.5rem;
    height: 2.5rem;

    @media screen and (max-width: 650px) {
      width: 2rem;
      height: 2rem;
    }
  }
}
