@use "../../abstracts" as *;

.authContainer {
  @include flexCenter(column);
  width: 100%;
  padding: 0;
  gap: $authContainerDistanceBetweenItems;

  p,
  span {
    font-size: $authContainerParagraphFontSize;
    font-weight: 550;
    font-family: "Cabin", sans-serif;
    color: getColor("black-100-1");
    text-align: center;
    width: 100%;
    margin: 0;
  }

  span {
    letter-spacing: 2.5px;
  }
}

.authButtons {
  @include flexCenter(column);
  list-style: none;
  width: 100%;
  padding: 0;
  gap: 1rem;

  li {
    @include flexCenter(column);
    width: 100%;
  }
}

.authButton {
  @include flexCenter(row);
  border: 2px solid green;
  background-color: getColor("tan-color");
  gap: 0.5rem;
  width: 100%;
  max-width: $authButtonMaxWidth;
  padding: $authButtonPadding;
  border: 2px solid getColor("black-100-1");

  svg {
    width: 35px;
    height: 35px;
  }
}
