@use "../../abstracts" as *;

.pageTitleContainer {
  @include flexCenter(column);
  width: 100%;
  height: 54rem;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 1.5px solid getColor("black-75-1");

  #{&}__header {
    @include flexCenter(column);
    margin-bottom: 10rem;
    padding: 4rem 8rem;
    border-radius: 25px;
    background-color: getColorWithOpacity("secondary-color-3.3", 0.8);

    h1 {
      @include heading("h1", "laptop", "black");
    }

    h3 {
      @include heading("h3", "laptop", "black");
    }
  }
}
