@use "../../abstracts" as *;

.primaryButton {
  @include flexCenter(row);
  @include heading("h6", "phone", "black");
  color: getColor("tan-color-extra-light");
  font-weight: 550;
  border: 1.5px solid getColor("black-75-1");
  background-color: getColor("primary-1");
  border-radius: 10px;
  padding: 0.5rem 2.5rem;

  transition: $crispyTransformTransition;

  &:hover {
    transform: scale(1.05);
  }
}

.primaryButtonLink {
  @include flexCenter(row);
  text-decoration: none;
}
