@use "../../abstracts" as *;

.primaryButton {
  @include flexCenter(row);
  height: $primaryButtonInitialHeight;
  width: $primaryButtonInitialWidth;
  font-size: $primaryButtonInitialFontSize;
  font-family: $primaryButtonInitialFontFamily;
  color: $primaryButtonInitialColor;
  font-weight: 400;
  letter-spacing: 1.5px;
  border: 1.5px solid getColor("black-100-1");
  transition: $crispyTransformTransition;

  &:hover {
    transform: scale(1.05);
  }
}

.primaryButtonLink {
  @include flexCenter(row);
  text-decoration: none;
}
