@use "../../abstracts" as *;

.sidebarContainer {
  @include flexCenter(column);
  justify-content: flex-start;
  height: 100%;
  width: 30%;
  min-width: 30rem;
  border-left: 1.5px solid getColor("black-75-1");
  background-color: getColor("secondary-color-3.2");
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  gap: 2rem;
  transform: translateX(150%);
  transition: $crispyTransformTransition;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    width: 0px;
  }

  @media screen and (max-width: 900px) {
    width: 100%;
    min-width: 100%;
  }
}

.sidebarHeader {
  @include flexCenter(column);
  align-items: flex-start;
  gap: 2rem;
  position: relative;
  width: 100%;

  button {
    @include flexCenter(row);
    margin-top: 1rem;
    margin-left: 1rem;
    border: none;
    width: 2.8125rem;
    height: 2.8125rem;
    background-color: inherit;
    transition: $crispyTransformTransition;
    cursor: crosshair;

    &:hover {
      transform: rotate(45deg);
    }

    svg {
      width: 100%;
      height: 100%;
      color: getColor("secondary-color-3.4");
    }

    @media screen and (max-width: 600px) {
      margin-top: 0.5rem;
      margin-left: 0.5rem;
    }
  }

  h3 {
    @include heading("h3", "laptop", "black");
    text-align: center;
    width: 100%;

    @media screen and (max-width: 600px) {
      @include heading("h3", "tablet", "black");
    }
  }
}

.sidebarPageLinks {
  @include flexCenter(column);
  list-style: none;
  width: 100%;
  padding: 1.5rem;
  gap: 1rem;

  li {
    @include flexCenter(row);
    width: 100%;
  }
}

.sidebarPageLink {
  @include flexCenter(row);
  width: 100%;
  justify-content: flex-start;
  text-decoration: none;
  gap: 0.75rem;
  background-color: inherit;
  border: none;

  svg {
    width: 2rem;
    height: 2rem;
    color: getColor("secondary-color-2.4");
  }

  p {
    @include paragraph("laptop", "black");
    font-weight: 550;
    width: 100%;
    text-align: start;
    color: getColor("black-100-1");
    transition:
      $crispyTransformTransition,
      color 0.135s linear;

    &:hover {
      transform: translateX(10px);
      color: getColor("secondary-color-light-2.4");
    }
  }
}

.sidebarFooter {
  @include flexCenter(row);
  width: 100%;
  margin-top: auto;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
}
