@use "../../abstracts" as *;

.socialMediaIconsList {
  @include flexCenter(row);
  max-width: 14.75rem;
  gap: 2rem;
  list-style: none;

  @media screen and (max-width: 600px) {
    gap: 1rem;
  }
}

.socialMediaIcon {
  @include flexCenter(row);
  width: 2.1875rem;
  height: 2.1875rem;
  text-decoration: none;
  transition: $crispyTransformTransition;

  &:hover {
    transform: scale(1.25);
  }

  .img {
    width: 100%;
    height: 100%;
  }
}
