@use "../../general" as *;

$sidebarContainerWidth: 540px;
$sidebarHeaderCloseSidebarButtonDimensions: 45px;
$sidebarHeaderGap: 2rem;
$sidebarPageLinksPadding: 1.5rem;
$sidebarPageLinksGap: 1rem;
$sidebarPageLinkDimensions: 2rem;
$sidebarPageLinkDistanceBetweenIconAndTitle: 0.75rem;
$sidebarPageLinkTitleFontSize: 1.25rem;
$sidebarFooterPadding: 0.5rem 1.5rem;
