$colors: (
  "primary-1": #432517,
  "primary-2": #013220,
  "primary-3": #ff8c00,
  "secondary-color-1.1": #421d17,
  "secondary-color-2.1": #013310,
  "secondary-color-3.1": #ff6000,
  "secondary-color-1.2": #422c17,
  "secondary-color-2.2": #013332,
  "secondary-color-3.2": #ffae00,
  "secondary-color-1.3": #42171c,
  "secondary-color-2.3": #043301,
  "secondary-color-3.3": #ffcd00,
  "secondary-color-1.4": #423217,
  "secondary-color-2.4": #012433,
  "secondary-color-3.4": #8b0000,
  "secondary-color-light-2.4": #646aff,
  "silver-0": #c0c0c0,
  "tan-color": #d2b48c,
  "tan-color-light": #cfbea7,
  "tan-color-extra-light": #ddd9d5,
  "error-color": #ff3300,
  "black-100-1": #120a06,
  "black-75-1": #120a06,
  "black-50-1": #120a06,
  "black-25-1": #120a06,
  "black-10-1": #120a06,
  "black-5-1": #120a06,
);

$fontSizes: (
  "p-laptop": 21px,
  "h1-laptop": 119px,
  "h2-laptop": 88.4px,
  "h3-laptop": 66.3px,
);

$screenSizes: (
  "big": 2560px,
  "normal": 1920px,
  "laptopL": 1440px,
  "laptop": 1024px,
  "tablet": 768px,
  "mobileL": 425px,
  "mobileM": 375px,
  "mobileS": 320px,
);
