@use "../../abstracts" as *;

.entityInfoContainer {
  @include pageLayout();
  background-color: getColor("secondary-color-3.3");
}

.entityInfoContent {
  @include flexCenter(column);
  width: 100%;
  padding: 8rem;
  gap: 8rem;
}

.entityInfoAppearancesContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  height: auto;

  h5 {
    @include heading("h5", "laptop", "black");
    width: 100%;
  }
}

.entityInfoDetailsContainer {
  @include flexCenter(row);
  align-items: flex-start;
  width: 100%;
  gap: 8rem;
}

.entityInfoDetailsHero {
  @include flexCenter(column);
  border-radius: 25px;
  background-color: getColorWithOpacity("secondary-color-3.1", 0.5);
  padding: 2rem;
  height: auto;
  width: 100%;
  gap: 2rem;

  h4 {
    @include heading("h4", "laptop", "black");
    font-weight: 550;
  }
}

.entityInfoDetailsHeader {
  @include flexCenter(column);
  gap: 0.5rem;

  h2 {
    @include heading("h2", "laptop", "black");
    font-weight: 550;
    letter-spacing: 3px;
  }

  h3 {
    font-size: 2rem;
    font-weight: 550;
    letter-spacing: 1px;
  }
}

.entityInfoAppearancesSectionEntities {
  @include flexCenter(column);
  width: 100%;
  list-style: none;
  gap: 8px;
  padding: 1rem;

  li {
    @include flexCenter(row);
    width: 100%;
  }
}

.entityInfoDetalsComposedSection {
  @include flexCenter(column);
  height: auto;
  width: 100%;
}

.entityInfoDetailsComposedSectionContainer {
  @include flexCenter(column);
  width: 100%;
  gap: 64px;

  h3 {
    @include heading("h2", "laptop", "black");
    font-weight: 550;
    letter-spacing: 3px;
  }
}

.entityInfoDetailsComposedSectionEntities {
  @include flexCenter(row);
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  width: 100%;
  list-style: none;
  gap: 4rem;

  li {
    @include flexCenter(column);
    max-width: 15%;
    width: 15%;

    a {
      @include flexCenter(column);
      width: 100%;
      text-decoration: none;
    }
  }
}

.entityInfoRecipeTutorialContainer {
  @include flexCenter(column);
  width: 100%;
  gap: 64px;

  h3 {
    @include heading("h2", "laptop", "black");
    font-weight: 550;
    letter-spacing: 3px;
  }
}

.entityInfoRecipeTutorialSection {
  @include flexCenter(column);
  width: 100%;
  gap: 1.5rem;

  h4 {
    @include heading("h4", "laptop", "black");
    font-weight: 550;
    letter-spacing: 1.5px;
  }

  iframe {
    width: 50%;
    min-height: 20rem;
  }

  p {
    padding: 1rem;
    width: 100%;
    min-height: 20rem;
    background-color: getColor("tan-color");
    border: 1.5px solid getColor("black-100-1");
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.35px;
  }
}

.entityInfoTutorialContainer {
  @include flexCenter(column);
  width: 100%;
  gap: 2rem;
  padding: 2rem;
  background-color: getColorWithOpacity("secondary-color-3.1", 0.5);
  border-radius: 25px;

  h4 {
    @include heading("h4", "laptop", "black");
    font-weight: 550;
  }

  h5 {
    @include heading("h5", "laptop", "black");
    font-weight: 550;
  }

  h6 {
    @include heading("h6", "laptop", "black");
    font-weight: 550;
  }
}

.entityInfoTutorialContent {
  @include flexCenter(row);
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.entityInfoVideoTutorial {
  @include flexCenter(column);
  width: 40rem;
  height: 30rem;
  gap: 1rem;

  iframe {
    border: 1.5px solid getColor("black-75-1");
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}

.entityInfoWrittenTutorial {
  @extend .entityInfoVideoTutorial;

  p {
    @include paragraph("tablet", "black");
    width: 100%;
    background-color: getColor("tan-color");
    border-radius: 10px;
    border: 1.5px solid getColor("black-75-1");
    padding: 1rem;
  }
}

.entityInfoComponentsContainer {
  @include flexCenter(column);
  width: 100%;
  gap: 2rem;
  padding: 2rem;
  background-color: getColorWithOpacity("secondary-color-3.1", 0.5);
  border-radius: 25px;

  h4 {
    @include heading("h4", "laptop", "black");
  }
}

.entityInfoComponentsSections {
  @include flexCenter(column);
  width: 100%;
  gap: 6rem;
}

.entityInfoSection {
  @include flexCenter(column);
  width: 100%;
  align-items: flex-start;
  gap: 1rem;
}

.entityInfoSectionH5 {
  @include heading("h5", "laptop", "black");
}

.entityInfoSectionItems {
  @include flexCenter(row);
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  list-style: none;
  width: 100%;
  row-gap: 5rem;

  li {
    @include flexCenter(row);
    justify-content: flex-start;
    width: 25%;
    max-width: 25%;
  }
}

.entityInfoInstanceTemplateContainer {
  @include flexCenter(column);
  width: 100%;
  padding: 4rem;
  gap: 6rem;
  background-color: getColorWithOpacity("secondary-color-3.1", 0.5);
  border-radius: 25px;

  h4 {
    @include heading("h4", "laptop", "black");
  }
}

.entityInfoInstanceTemplateContainerContent {
  @include flexCenter(row);
  align-items: flex-start;
  width: 100%;
  gap: 8rem;
}
