@use "../../abstracts" as *;

.entityInfoContainer {
  @include pageLayout();
}

.entityInfoContent {
  @include flexCenter(column);
  width: 100%;
  padding: 256px;
  padding-top: 128px;
  gap: 256px;
  background-image: url($authFormPageTemplateFormBackgroundUrl);
}

.entityInfoAppearancesContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  height: auto;
  gap: 1.5rem;
}

.entityInfoDetailsContainer {
  @include flexCenter(column);
  width: 100%;
  height: auto;
  gap: 3rem;

  h2 {
    @include h2Laptop();
    font-weight: 550;
    letter-spacing: 2px;
    margin-bottom: -1rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: 550;
    letter-spacing: 1px;
  }
}

.entityInfoDetailsHeader {
  @include flexCenter(column);
  gap: 0.5rem;

  h2 {
    @include h2Laptop();
    font-weight: 550;
    letter-spacing: 3px;
    margin-bottom: 1rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: 550;
    letter-spacing: 1px;
  }
}

.entityInfoAppearancesSectionEntities {
  @include flexCenter(column);
  width: 100%;
  list-style: none;
  gap: 8px;
  padding: 1rem;

  li {
    @include flexCenter(row);
    width: 100%;
  }
}
