@use "../../abstracts" as *;

.entityInfoContainer {
  @include pageLayout();
}

.entityInfoContent {
  @include flexCenter(column);
  width: 100%;
  padding: 128px;
  gap: 256px;
  background-image: url($authFormPageTemplateFormBackgroundUrl);
}

.entityInfoAppearancesContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  height: auto;
  gap: 1.5rem;
}

.entityInfoDetailsContainer {
  @include flexCenter(column);
  width: 100%;
  gap: 12rem;
}

.entityInfoDetailsHero {
  @include flexCenter(column);
  height: auto;
  width: 100%;
  gap: 3rem;

  h2 {
    @include heading("h2", "laptop", "black");
    font-weight: 550;
    letter-spacing: 2px;
    margin-bottom: -1rem;
  }

  h3 {
    font-size: 2rem;
    font-weight: 550;
    letter-spacing: 1px;
  }
}

.entityInfoDetailsHeader {
  @include flexCenter(column);
  gap: 0.5rem;

  h2 {
    @include heading("h2", "laptop", "black");
    font-weight: 550;
    letter-spacing: 3px;
  }

  h3 {
    font-size: 2rem;
    font-weight: 550;
    letter-spacing: 1px;
  }
}

.entityInfoAppearancesSectionEntities {
  @include flexCenter(column);
  width: 100%;
  list-style: none;
  gap: 8px;
  padding: 1rem;

  li {
    @include flexCenter(row);
    width: 100%;
  }
}

.entityInfoDetalsComposedSection {
  @include flexCenter(column);
  height: auto;
  width: 100%;
}

.entityInfoDetailsComposedSectionContainer {
  @include flexCenter(column);
  width: 100%;
  gap: 64px;

  h3 {
    @include heading("h2", "laptop", "black");
    font-weight: 550;
    letter-spacing: 3px;
  }
}

.entityInfoDetailsComposedSectionEntities {
  @include flexCenter(row);
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  width: 100%;
  list-style: none;
  gap: 4rem;

  li {
    @include flexCenter(column);
    max-width: 15%;
    width: 15%;

    a {
      @include flexCenter(column);
      width: 100%;
      text-decoration: none;
    }
  }
}

.entityInfoDetailsComposedSectionEntityCard {
  @include flexCenter(column);
  border: 2px solid black;
  width: 100%;
  gap: 1rem;
  background-color: getColor("primary-1");
  padding-bottom: 1rem;

  img {
    width: 100%;
    height: auto;
  }
}

.entityInfoDetailsComposedSectionEntityCardContent {
  @include flexCenter(column);
  width: 100%;
  gap: 1rem;
  padding: 0.5rem;

  div {
    padding: 1rem;
    width: 100%;
  }

  h4 {
    font-size: 24px;
    text-align: center;
    font-weight: 550;
    letter-spacing: 1px;
    color: getColor(tan-color-extra-light);
  }
}

.entityInfoRecipeTutorialContainer {
  @include flexCenter(column);
  width: 100%;
  gap: 64px;

  h3 {
    @include heading("h2", "laptop", "black");
    font-weight: 550;
    letter-spacing: 3px;
  }
}

.entityInfoRecipeTutorialSection {
  @include flexCenter(column);
  width: 100%;
  gap: 1.5rem;

  h4 {
    @include heading("h4", "laptop", "black");
    font-weight: 550;
    letter-spacing: 1.5px;
  }

  iframe {
    width: 50%;
    min-height: 20rem;
  }

  p {
    padding: 1rem;
    width: 100%;
    min-height: 20rem;
    background-color: getColor("tan-color");
    border: 1.5px solid getColor("black-100-1");
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.35px;
  }
}
