@use "../../abstracts" as *;

.textFormControlContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;

  label {
    @include heading("h6", "laptop", "black");
    font-weight: 550;
  }

  input {
    background-color: getColor("tan-color");
    border: 1.5px solid getColor("black-75-1");
    border-radius: 10px;

    width: 100%;
    height: 2.5rem;

    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 550;

    word-wrap: break-word;
    transition: background-color 0.135s linear;

    &:hover {
      background-color: getColor("tan-color-dark");
    }
  }
}

.imageFormControlContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;

  label {
    @include heading("h6", "laptop", "black");
    font-weight: 550;

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.imageInputContainer {
  @include flexCenter(row);
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 5px;

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.imageInputContainer:focus-visible {
  outline: 2.5px solid getColor("error-color");
}

.imageInputOverlay {
  @include flexCenter(row);
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: getColor("black-100-1"), $alpha: 0.5);
  transition: opacity 0.135s linear;

  &:hover {
    opacity: 1;
  }

  svg {
    font-size: 2rem;
    color: getColor("tan-color-extra-light");
  }

  input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
  }
}

.checkboxFormControlContainer {
  @include flexCenter(row);
  justify-content: space-between;
  width: 100%;
  gap: 1rem;

  label {
    @include heading("h6", "laptop", "black");
    font-weight: 550;
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    width: 2.5rem;
    height: 2.5rem;
    border: 1.5px solid getColor("black-75-1");
    background-color: getColor("tan-color");
    cursor: pointer;

    border-radius: 10px;

    transition: background-color 0.135s linear;

    &:hover {
      background-color: getColor("tan-color-dark");
    }
  }

  input[type="checkbox"]:checked {
    appearance: auto;
  }
}

.reCAPTCHA {
  @include flexCenter(row);
  justify-content: flex-start;
  width: 100%;
}

.selectFormControlContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 8px;

  padding: 1rem;
  border: 1.5px solid getColor("black-100-1");

  label {
    font-weight: bolder;
    font-size: 22px;
  }
}

.selectFormControlList {
  @include flexCenter(column);
  list-style: none;
  width: 100%;
  gap: 1rem;
  border: 1.5px solid getColor("black-100-1");
  padding: 1rem;

  li {
    @include flexCenter(row);
    width: 100%;
    border: 1.5px solid getColor("black-100-1");
  }
}

.videoFormControlContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 8px;

  padding: 1rem;
  border: 1.5px solid getColor("black-100-1");

  iframe {
    width: 50%;
    height: 15rem;
  }
}

.textAreaFormControlContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 8px;

  padding: 1rem;
  border: 1.5px solid getColor("black-100-1");

  label {
    font-weight: bolder;
    font-size: 22px;
  }

  textarea {
    background-color: getColor("tan-color");
    border: 1.5px solid getColor("black-100-1");
    width: 100%;
    max-width: 40rem;
    max-height: 48rem;
    height: 24px;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 550;
    word-wrap: break-word;
    transition: background-color 0.135s linear;

    &:hover {
      background-color: getColor("tan-color-dark");
    }
  }
}

.imageUrlOptionsContainer {
  @include flexCenter(row);
  list-style: none;
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;

  li {
    @include flexCenter(row);
    position: relative;
    img {
      transition: $crispyTransformTransition;
      width: 100%;
      height: 100%;
      max-width: 100px;
      max-height: 100px;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.radioFormControlContainer {
  @include flexCenter(column);
  border: 2px solid black;
  align-items: flex-start;
  width: 100%;
  gap: 1rem;

  label {
    font-weight: bolder;
    font-size: 22px;
  }

  input {
    background-color: getColor("tan-color");
    border: 1.5px solid getColor("black-100-1");
    width: 100%;
    max-width: 400px;
    height: 24px;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 550;
    word-wrap: break-word;
    transition: background-color 0.135s linear;

    &:hover {
      background-color: getColor("tan-color-dark");
    }
  }
}

.radioFormControlContent {
  @include flexCenter(row);
  list-style: none;
  gap: 2rem;

  li {
    @include flexCenter(row);
    gap: 1rem;

    input[type="radio"] {
      appearance: none;
      width: 2rem;
      height: 2rem;
      border: 1.5px solid getColor("black-100-1");
      border-radius: 100%;

      &:checked {
        background-color: #646aff;
      }
    }

    label {
      font-size: 22px;
      color: getColor("tan-color-extra-light");
      letter-spacing: 1px;
    }
  }
}

.weekdayFormControlContainer {
  @include flexCenter(column);
  width: 100%;
  align-items: flex-start;
  gap: 1.5rem;

  label {
    font-size: 2rem;
    font-weight: bolder;
    color: getColor("tan-color-extra-light");
  }
}

.weekdayFormControlList {
  @include flexCenter(row);
  list-style: none;
  justify-content: flex-start;
  width: 100%;
  gap: 2.5rem;

  li {
    @include flexCenter(row);
    justify-content: flex-start;
    position: relative;
    max-width: 100px;
    max-height: 100px;
    border-radius: 0.5rem;

    img {
      transition:
        $crispyTransformTransition,
        border 0.2s linear;
      width: 100%;
      height: 100%;
      border-radius: 0.5rem;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
