@use "../../abstracts" as *;

.textFormControlContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 8px;

  label {
    font-weight: bolder;
    font-size: 22px;
  }

  input {
    background-color: getColor("tan-color");
    border: 1.5px solid getColor("black-100-1");
    width: 100%;
    height: 24px;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 550;
    word-wrap: break-word;
    transition: background-color 0.135s linear;

    &:hover {
      background-color: getColor("tan-color-dark");
    }
  }
}

.imageFormControlContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 8px;

  label {
    @include flexCenter(row);
    gap: 8px;

    span {
      font-weight: bolder;
      font-size: 22px;
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.imageInputContainer {
  @include flexCenter(row);
  position: relative;
  width: 100px;
  height: 100px;

  img {
    width: 100%;
    height: 100%;
  }
}

.imageInputContainer:focus-visible {
  outline: 2.5px solid getColor("error-color");
}

.imageInputOverlay {
  @include flexCenter(row);
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: getColor("black-100-1"), $alpha: 0.5);
  transition: opacity 0.135s linear;

  &:hover {
    opacity: 1;
  }

  svg {
    font-size: 2rem;
    color: getColor("tan-color-extra-light");
  }

  input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
  }
}

.checkboxFormControlContainer {
  @include flexCenter(row);
  justify-content: space-between;
  width: 100%;

  label {
    font-weight: bolder;
    font-size: 22px;
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 24px;
    height: 24px;
    border: 1.5px solid getColor("black-100-1");
    background-color: getColor("tan-color");
    cursor: pointer;

    transition: background-color 0.135s linear;

    &:hover {
      background-color: getColor("tan-color-dark");
    }
  }

  input[type="checkbox"]:checked {
    appearance: auto;
  }
}

.reCAPTCHA {
  width: 100%;
}

// Using react-google-recaptcha so im not using those rules
// .recaptchaFormControlContainer {
//   @include flexCenter(row);
//   width: 100%;
//   justify-content: space-between;
//   padding: 0 32px;
//   background-color: getColor("tan-color-extra-light");
//   height: 64px;
//   border: 1.5px solid getColor("black-100-1");

//   img {
//     width: 56px !important;
//     height: 56px !important;
//   }

//   input[type="checkbox"] {
//     appearance: none;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     width: 24px;
//     height: 24px;
//     border: 1.5px solid grey;
//     background-color: getColor("tan-color-extra-light");
//     cursor: pointer;
//   }

//   input[type="checkbox"]:checked {
//     appearance: auto;
//   }
// }
