@use "../../abstracts" as *;

.textFormControlContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;

  @media screen and (max-width: 650px) {
    width: 80%;
  }
  @media screen and (max-width: 375px) {
    width: 97.5%;
  }

  label {
    @include heading("h6", "laptop", "black");
    font-weight: 550;

    @media screen and (max-width: 1200px) {
      @include heading("h6", "tablet", "black");
    }
    @media screen and (max-width: 650px) {
      @include heading("h6", "phone", "black");
    }
  }

  input {
    background-color: getColor("tan-color");
    border: 1.5px solid getColor("black-75-1");
    border-radius: 10px;

    width: 100%;
    max-width: 40rem;
    height: 2.5rem;

    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 550;

    word-wrap: break-word;
    transition: background-color 0.135s linear;

    &:hover {
      background-color: getColor("tan-color-dark");
    }

    @media screen and (max-width: 650px) {
      height: 2rem;
    }
  }
}

.imageFormControlContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;

  @media screen and (max-width: 650px) {
    width: 80%;
  }
  @media screen and (max-width: 375px) {
    width: 97.5%;
  }

  label {
    @include heading("h6", "laptop", "black");
    font-weight: 550;

    @media screen and (max-width: 1200px) {
      @include heading("h6", "tablet", "black");
    }
    @media screen and (max-width: 650px) {
      @include heading("h6", "phone", "black");
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }
}

.imageInputContainer {
  @include flexCenter(row);
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 5px;

  @media screen and (max-width: 950px) {
    width: 3rem;
    height: 3rem;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
  }
}

.imageInputContainer:focus-visible {
  outline: 2.5px solid getColor("error-color");
}

.imageInputOverlay {
  @include flexCenter(row);
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba($color: getColor("black-100-1"), $alpha: 0.5);
  transition: opacity 0.135s linear;
  border-radius: 5px;

  &:hover {
    opacity: 1;
  }

  svg {
    font-size: 2rem;
    color: getColor("tan-color-extra-light");
  }

  input {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
  }
}

.checkboxFormControlContainer {
  @include flexCenter(row);
  justify-content: space-between;
  width: 100%;
  gap: 1rem;

  @media screen and (max-width: 650px) {
    width: 80%;
  }

  @media screen and (max-width: 375px) {
    width: 97.5%;
  }

  label {
    @include heading("h6", "laptop", "black");
    font-weight: 550;

    @media screen and (max-width: 1200px) {
      @include heading("h6", "tablet", "black");
    }
    @media screen and (max-width: 650px) {
      @include heading("h6", "phone", "black");
    }
  }

  input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 40rem;

    width: 2.5rem;
    height: 2.5rem;
    border: 1.5px solid getColor("black-75-1");
    background-color: getColor("tan-color");
    cursor: pointer;

    border-radius: 10px;

    transition: background-color 0.135s linear;

    &:hover {
      background-color: getColor("tan-color-dark");
    }

    @media screen and (max-width: 650px) {
      width: 2rem;
      height: 2rem;
    }
  }

  input[type="checkbox"]:checked {
    appearance: auto;
  }
}

.reCAPTCHA {
  @include flexCenter(row);
  justify-content: flex-start;
  width: 100%;

  @media screen and (max-width: 650px) {
    width: 80%;
    justify-content: center;
  }
}

.selectFormControlContainer {
  @include flexCenter(column);
  justify-content: flex-start;
  width: 100%;
  gap: 2rem;
  padding: 2rem;
  background-color: getColorWithOpacity("secondary-color-3.1", 0.5);
  border-radius: 25px;

  @media screen and (max-width: 650px) {
    padding: 2rem 0.5rem;
    gap: 1rem;
  }

  label {
    @include heading("h5", "laptop", "black");
    font-weight: 550;

    @media screen and (max-width: 1200px) {
      @include heading("h5", "tablet", "black");
    }
    @media screen and (max-width: 650px) {
      @include heading("h5", "phone", "black");
    }
  }
}

.selectFormControlList {
  @include flexCenter(column);
  justify-content: flex-start;
  list-style: none;
  width: 100%;
  max-height: 30rem;
  overflow-y: auto;
  gap: 1rem;
  padding: 2rem;
  background-color: getColorWithOpacity("secondary-color-3.1", 0.5);
  border-radius: 25px;

  @media screen and (max-width: 650px) {
    padding: 2rem 0.5rem;
  }

  li {
    @include flexCenter(row);
    width: 100%;
  }
}

.videoFormControlContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 8px;

  iframe {
    width: 100%;
    height: 17.5rem;
    border-radius: 10px;
    border: 1.5px solid getColor("black-75-1");
  }
}

.textAreaFormControlContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;

  label {
    @include heading("h6", "laptop", "black");
    font-weight: 550;

    @media screen and (max-width: 1200px) {
      @include heading("h6", "tablet", "black");
    }
    @media screen and (max-width: 650px) {
      @include heading("h6", "phone", "black");
    }
  }

  textarea {
    background-color: getColor("tan-color");
    border: 1.5px solid getColor("black-75-1");
    border-radius: 10px;

    height: 2.5rem;
    width: 100%;
    min-width: 15rem;
    max-width: 35rem;

    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 550;

    word-wrap: break-word;
    transition: background-color 0.135s linear;

    &:hover {
      background-color: getColor("tan-color-dark");
    }
  }
}

.imageUrlOptionsContainer {
  @include flexCenter(row);
  list-style: none;
  justify-content: flex-start;
  width: 100%;
  gap: 0.5rem;

  @media screen and (max-width: 950px) {
    flex-wrap: wrap;
  }

  li {
    @include flexCenter(row);
    position: relative;
    img {
      transition: $crispyTransformTransition;
      width: 5rem;
      height: 5rem;
      border-radius: 0.5rem;

      @media screen and (max-width: 950px) {
        width: 3rem;
        height: 3rem;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

.radioFormControlContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 1rem;

  label {
    @include heading("h6", "laptop", "black");
    font-weight: 550;

    @media screen and (max-width: 1200px) {
      @include heading("h6", "tablet", "black");
    }
    @media screen and (max-width: 650px) {
      @include heading("h6", "phone", "black");
    }
  }
}

.radioFormControlContent {
  @include flexCenter(row);
  flex-wrap: wrap;
  list-style: none;
  gap: 1.5rem;

  li {
    @include flexCenter(row);
    gap: 0.5rem;

    @media screen and (max-width: 900px) {
      align-items: flex-start;
      justify-content: flex-start;
      width: 45%;
      max-width: 45%;
    }
    @media screen and (max-width: 600px) {
      width: 95%;
      max-width: 95%;
    }

    input[type="radio"] {
      appearance: none;
      width: 2rem;
      height: 2rem;
      border: 1.5px solid getColor("black-100-1");
      background-color: getColor("secondary-color-3.4");
      border-radius: 100%;

      &:checked {
        background-color: getColor("secondary-color-2.3");
      }
    }

    label {
      @include heading("h6", "tablet", "black");
    }
  }
}

.weekdayFormControlContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 1rem;

  label {
    @include heading("h6", "laptop", "black");
    font-weight: 550;

    @media screen and (max-width: 1200px) {
      @include heading("h6", "tablet", "black");
    }
    @media screen and (max-width: 650px) {
      @include heading("h6", "phone", "black");
    }
  }
}

.weekdayFormControlList {
  @include flexCenter(row);
  list-style: none;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  gap: 0.5rem;

  @media screen and (max-width: 600px) {
    flex-wrap: wrap;
  }

  li {
    @include flexCenter(row);
    width: 5rem;
    height: 5rem;
    border-radius: 0.5rem;

    @media screen and (max-width: 950px) {
      width: 3rem;
      height: 3rem;
    }

    @media screen and (max-width: 600px) {
      width: 30% !important;
      align-items: center;
      justify-content: center;
    }

    img {
      transition:
        $crispyTransformTransition,
        border 0.2s linear;
      width: 5rem;
      height: 5rem;
      border-radius: 0.5rem;

      @media screen and (max-width: 950px) {
        width: 3rem;
        height: 3rem;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}
