@use "../../abstracts" as *;

.popupModalContainer {
  @include flexCenter(column);
  position: absolute;
  z-index: 3;
  top: 0;
  width: 100%;
  max-width: $authFormPageTemplateFormWidth;
  padding: 0.75rem 0.5rem;
  padding-bottom: 1rem;
  background-color: getColor("secondary-color-3.4");
  opacity: 0;
  transform: translateY(-100%);
  transition:
    opacity 0.135s linear,
    transform 0.135s linear;
  gap: 8px;

  svg {
    align-self: flex-end;
    font-size: 2rem;
    transition: $crispyTransformTransition;
    cursor: crosshair;

    &:hover {
      transform: rotate(45deg);
    }
  }

  p {
    font-weight: 550;
    letter-spacing: 1.25px;
    font-size: 20px;
    color: getColor("tan-color-extra-light");
    text-align: center;
  }
}
