@use "../../general" as *;

$homeCardContainerPadding: 12rem;
$homeCardContainerDefaultBackgroundColor: map-get(
  $map: $colors,
  $key: "secondary-color-1.2",
);
$homeCardContainerInformationFontSize: 2rem;
$homeCardContainerDistanceBetweenTitleAndInformation: 4rem;
$homeCardContainerButtonMarginTop: 32px;
