@use "../../../abstracts" as *;

.createRecipeTutorialContainer {
  @include flexCenter(column);
  align-items: flex-start;
  width: 100%;
  gap: 2rem;
  margin-top: 4rem;

  h5 {
    @include heading("h5", "laptop", "black");

    @media screen and (max-width: 1200px) {
      @include heading("h5", "tablet", "black");
    }
    @media screen and (max-width: 600px) {
      @include heading("h5", "phone", "black");
    }
  }
}

.createRecipeTutorialCheckboxes {
  @include flexCenter(column);
  width: 100%;
  gap: 2rem;
}
